<!-- wp:template-part {"slug":"header","tagName":"div","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"inhalt","layout":{"type":"default"}} -->
<main id="inhalt" class="wp-block-group">

	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40)">
		<!-- wp:post-title {"level":1,"fontSize":"xx-large"} /-->
		<!-- wp:post-date {"fontSize":"small","style":{"spacing":{"margin":{"top":"var:preset|spacing|20"}}}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div","area":"footer"} /-->
